.registration{
  height: 11em;
  width: 15em;
  display:inline-flex;
  flex-direction:column;
  justify-content: space-around;
  align-items: center;
  background: linear-gradient(90deg, #EECFBA, powderblue);
  box-shadow: 5px 10px 20px rgba(0,0,0,0.3), -5px -10px 20px rgba(255,255,255,0.5);;
}
body{
  height: 100%;
}
.container{
  display: flex;  
  justify-content: space-between;
  align-items: center;
  width: 45em;
  margin: auto;
  height: 100vh;
}
.vertical-line{
  border-left: 8px ridge #DADCE1;
  opacity: 0.3;
  height: 15em;
}
.auth{
  height: 11em;
  width: 15em;
  display:inline-flex;
  flex-direction:column;
  justify-content: space-around;
  align-items: center;
  background: linear-gradient(90deg, powderblue, pink);
  box-shadow: 5px 10px 20px rgba(0,0,0,0.3), -5px -10px 20px rgba(255,255,255,0.5);;
 }
.todoText{
  display: inline-block;
}

.completed{
  text-decoration:line-through;
}